services:
    -
        class: Croct\Plug\PhpStan\ContentStubFilesExtension
        arguments:
            workingDirectory: %currentWorkingDirectory%
        tags:
            - phpstan.stubFilesExtension
